body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
    background-color: #f0f8ff; /* Light blue background */
    background-image: url('../images/background.jpg'); /* Optional background image */
    background-size: cover; /* Ensure the image covers the entire page */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-attachment: fixed; /* Keep the background fixed during scrolling */
    color: #333; /* Ensure text is readable */
}

header {
    background: #35424a;
    color: #050e64;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

main {
    padding: 20px;
}

article {
    background: #ffffff;
    margin: 20px 0;
    padding: 15px;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #35424a;
    color: #ffffff;
    position: relative;
    bottom: 0;
    width: 100%;
}
